#title {
    color: #29339b;
    text-shadow: 1px 1px 2px #f1fec6;
}

/* Product images */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

.jumbotron {
    margin: 0px auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #74a4bc;
    color: #29339b;
    
 }

.footer {
    background-color: #74a4bc;
    margin: 20px auto;
    padding: 20px 0px; 
    color: #29339b;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Product images */
    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: scale-down;
    }
}

/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {

    /* Product images */
    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: scale-down;
    }
  }
  
 /********** Extra small devices only **********/
@media (max-width: 767px) {

    /* Product images */
    .card-img-top {
        width: 100%;
        height: 50vw;
        object-fit: scale-down;
    }  
}
