.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.jumbotron {
    margin: 0px auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #60A561;
    color: #053225;
    
 }

.footer {
    background-color: #60A561;
    margin: 20px auto;
    padding: 20px 0px; 
    color: #053225;
}