.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.jumbotron {
    margin: 0px auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #F1C9C2;
    color: #1F3D51;
    
 }

.footer {
    background-color: #F1C9C2;
    margin: 20px auto;
    padding: 20px 0px; }